.privacy-policy {
    padding: 20px;
    font-family: 'Switzer', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.privacy-policy-content {
    padding: 90px 0 0 90px;
    max-width: 840px;
}

.privacy-policy-defending-container {
    position: fixed;
    right: 90px;

}

.privacy-policy-defending {
    width: 400px;
    opacity: 0.7;
}

.privacy-policy-back-button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 16px 6px 8px;
    color: var(--color-text-primary);
    font-family: 'Switzer', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    margin-bottom: 32px;
    border: 1px solid var(--color-border);
    transition: background-color 0.2s ease-in-out;
}

.privacy-policy-back-button:hover {
    background-color: var(--color-surface-2);
}

@media (max-width: 1540px) {
    .privacy-policy-defending-container {
            right: 50px;
    }
    
}

@media (max-width: 1450px) {
    .privacy-policy-defending-container {
        right: 10px;
    }
    
}

.privacy-policy-title {
    display: flex;
    justify-content: left;

    align-items: left;
    text-align: left;
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -0.2px;
}

.privacy-policy-subtitle {
    display: flex;

    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color-text-secondary);
    letter-spacing: -0.2px;
    margin-bottom: 32px;
}

.privacy-policy-text-header {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 32px;
}

.privacy-policy-text-item {
    font-size: 18px;
    color: var(--color-text-secondary);
    font-weight: 400;
    margin-bottom: 16px;
    min-width: 0;
    max-height: none;
}

.privacy-policy-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
    color: var(--color-text-muted);
}


@media (max-width: 1350px) {
    .privacy-policy-defending-container {
        position: relative;
        right: auto;
        display: flex;
        justify-content: center;
        margin-top: 64px;
        padding-bottom: 64px;
    }
    
    .privacy-policy-defending {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 520px) {
    .privacy-policy-content {
        padding: 32px 0 0 32px;
    }
}

@media (max-width: 440px) {
    .privacy-policy-content {
        padding: 8px 0 0 8px;
    }
    .privacy-policy-title {
        font-size: 46px;
    }
}

