.privacy-policy {
    padding: 20px;
    font-family: 'Switzer', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
        padding: 90px 0 0 180px;
        max-width: 820px;
        
}

.privacy-policy-title {
    display: flex;
    justify-content: left;

    align-items: left;
    text-align: left;
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -0.2px;
}

.privacy-policy-subtitle {
    display: flex;

    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color-text-secondary);
    letter-spacing: -0.2px;
    margin-bottom: 32px;
}

.privacy-policy-text-header {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 32px;
}

.privacy-policy-text-item {
    font-size: 18px;
    color: var(--color-text-secondary);
    font-weight: 400;
    margin-bottom: 16px;
}

.privacy-policy-end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
    color: var(--color-text-muted);
}

.privacy-policy-logo {
    width: 32px;
    height: 32px;
}
